* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comic Relief", sans-serif, system-ui;
  background-color: #eeeeee;
}

main {
  max-width: 950px;
  width: 80%;
  margin: 0 auto;
  padding: 16px;
}
.app-title {
  display: flex;
  justify-content: space-around;
  background-color: #222831;
  padding: 16px;
  color: #eeeeee;
}

#searchSubmit {
  background-color: #00adb5;
  color: #222831;
  border: 3px solid #393e46;
  width: 70px;
  border-radius: 8px;
  padding: 2px;
  cursor: pointer;
}

#searchSubmit:hover {
  border: 2px solid #eeeeee;
}

#searchSubmit:active {
  background-color: #eeeeee;
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
  transform: translate(1px, 1px);
}
#searchBookTitle {
  border: none;
  border-radius: 5px;
  padding: 2px;
}

.app-title > a {
  color: #eeeeee;
  text-decoration: none;
}

/* Styling section tambah buku */

.input_section {
  padding: 12px;
  margin: 16px;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  background-color: #222831;
  border-radius: 12px;
  box-shadow: 13px 15px 5px 0px rgba(158, 158, 158, 0.75);
  -webkit-box-shadow: 13px 15px 5px 0px rgba(158, 158, 158, 0.75);
  -moz-box-shadow: 13px 15px 5px 0px rgba(158, 158, 158, 0.75);
}

.input-checkbox {
  color: #eeeeee;
}

.input_section > h2 {
  color: #eeeeee;
  text-align: center;
  padding-bottom: 10px;
}

.input_section > form {
  background-color: #393e46;
  padding: 12px;
  border-radius: 8px;
}

.input > label {
  color: #eeeeee;
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > .input > input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  background-color: #fdfdfd;
  border: none;
}

.input_section > form > button {
  background-color: #00adb5;
  color: #222831;
  border: 2px solid;
  border-radius: 8px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.input_section > form > button:active {
  background-color: #eeeeee;
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
  transform: translate(1px, 2px);
}

.input_section > form > button:hover {
  border: 2px solid #eeeeee;
}

.search_book {
  display: flex;
  padding: 12px;
}

.search_book .book_shelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

span {
  font-weight: 600;
}

/* Styling section buku sudah dibaca dan belum */
.search_book {
  padding: 12px;
}

.book_shelf {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px 10px;
}

.incomplete_shelf,
.completed_shelf {
  background-color: #222831;
  color: #eeeeee;
  border: 1px solid #333;
  box-shadow: 13px 15px 5px 0px rgba(158, 158, 158, 0.75);
  -webkit-box-shadow: 13px 15px 5px 0px rgba(158, 158, 158, 0.75);
  -moz-box-shadow: 13px 15px 5px 0px rgba(158, 158, 158, 0.75);
  border-radius: 16px;
  width: 430px;
  padding: 16px;
}

#incompleteBookList,
#completeBookList {
  background-color: #393e46;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 16px;
}

.book-btn {
  display: flex;
  justify-content: space-between;
}

.book-btn > button {
  width: 25%;
  border: 2px solid;
  border-radius: 8px;
  color: #222831;
  background-color: #00adb5;
  cursor: pointer;
}

.book-btn > button:hover {
  border: 1px solid #eeeeee;
}

.book-btn > button:active {
  background-color: #eeeeee;
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
  transform: translate(1px, 1px);
}
