* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comic Relief", sans-serif, system-ui;
  background-color: #eeeeee;
}

main {
  max-width: 950px;
  width: 80%;
  margin: 0 auto;
  padding: 16px;
}
.app-title {
  display: flex;
  justify-content: space-around;
  background-color: #222831;
  padding: 12px;
  color: #eeeeee;
}

.app-title > a {
  color: #eeeeee;
  text-decoration: none;
}

.input_section {
  padding: 12px;
  flex-direction: column;
  align-items: center;
  border: 2px solid #00adb5;
  background-color: #00adb5;
  border-radius: 9px;
  box-shadow: 10px 10px 5px 0px rgba(191, 191, 191, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(191, 191, 191, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(191, 191, 191, 0.75);
}

.input-checkbox {
  color: #eeeeee;
}

.input_section > h2 {
  color: #eeeeee;
  text-align: center;
  padding-bottom: 10px;
}

.input > label {
  color: #eeeeee;
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > .input > input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  background-color: #fdfdfd;
  border: none;
}

.input_section > form > button {
  background-color: #fcde81;
  color: black;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.input_section > form > button:active {
  background-color: #eeeeee;
}

.input_section > form > button:hover {
  border: 2px solid blue;
}

.search_book {
  padding: 12px;
}

.book_shelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
